WeatherAgent.json
{
  "name": "WeatherAgent",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "43958bc3-7f29-4588-b5d0-159662b0c88e",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "65387247-86ab-47f9-98b2-c2c9f792240f",
              "name": "City Name",
              "value": "New York",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "db50e9e2-dd10-4b6d-beda-931538bebc95",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "cityName": "={{ $json['City Name'] }}"
      },
      "type": "n8n-nodes-base.openWeatherMap",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "e3d88490-e9cb-45d5-bf03-5ea35f101dfb",
      "name": "OpenWeatherMap",
      "credentials": {
        "openWeatherMapApi": {
          "id": "AQekdVcJmFY3ibWG",
          "name": "OpenWeatherMap account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d2041078-1b52-439f-920d-5a859500e1b8",
              "name": "",
              "value": "={{ $json }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        0
      ],
      "id": "6f11e929-58d1-4247-a834-bccbbd16a509",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You receieved this text {{ $json[\"\"] }} and from this text you should extract temperature, city location, and human understandable weather description.",
        "messages": {
          "messageValues": [
            {
              "type": "HumanMessagePromptTemplate",
              "message": "Formulate a string that describes the weather on the basis of the temperature and description. The response should include temperature, humidity, and description. Also, the response should give advice on what to wear. Return only the string and not the description of your task."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        832,
        0
      ],
      "id": "58f53a26-ea09-4758-8133-3a1c94d9601b",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        768,
        208
      ],
      "id": "21a9d690-e161-4d02-90e9-932aab97b34a",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "ZbLqDgymw6aoag3Q",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c52f8e00-b257-4376-9289-9670a9c4718c",
              "name": "Response",
              "value": "={{ $json[\"text\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1184,
        0
      ],
      "id": "f2177de2-bf4f-4de8-b303-4d589fd9eb9f",
      "name": "Edit Fields2"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "name": "First item",
          "code": 1
        }
      },
      {
        "json": {
          "name": "Second item",
          "code": 2
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "OpenWeatherMap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenWeatherMap": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2e687f50-9028-4b5e-8cae-ce7601744fa0",
  "meta": {
    "instanceId": "fd4db88fc2acfff96e4eaae4ea65aab101ced277e3eb759def0e8cdfbf85b905"
  },
  "id": "DmNcKhuP4t0bo9zr",
  "tags": []
}